<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CsvDelimiter" value=","/>
    <add key="EmailRegex" value="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"/>
    <add key="HrefRegex" value="href=[\'\&quot;]?([^\'\&quot; >]+)"/>
    <add key="InvalidSiteLinkPatterns" value=".css|.js|.jpg|.png|.gif|.ico|.mp4|.wav|href|tel:|mailto:"/>
  </appSettings>
</configuration>